/* Ubermelon Shopping Cart Homepage */

/* The body has an iamge that spans the entire size of the page.
   Everything is centered and in white. */

body {
background: #333 url("/static/beauty-salon-g1e2e78b55_1920.jpg");
background-size: cover;

text-align: center;
font-family: var(--bs-font-sans-serif);
color: white;
}

.dark {
    background-color: #333;
    overflow-x: scroll; 
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;

}

a {
    color: #ffdee5;
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */
/* button {
    color: #ff5794;
} */

h1 {
    text-align: center;
}

.logo-md {
    width: 300px;
    height: 300px;
}

.logo-sm {
    width: 150px;
    height: 150px;
}

.form {
    max-width: 300px;
    margin: 5em auto 0 auto;  /* TRBL */
  } 
  

/* .btn btn-primary btn-block {
    color: #ff5794;

} */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

/* The footer always appears at the bottom of the browser window. */

footer {
    padding-top: 75px;
    padding-bottom: 75PX;
    bottom: 0;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: scroll;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .sidenavR {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: scroll;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* .sidenavR body {

      color: #333;
  } */

  .sidenavR input, select, textarea {
    padding: 2px 8px 2px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color:white
    outline: none;
    display: block;
  }

/* .sidenavR a {
    color:#333;
} */

/* .sidenavR input:focus {
    background-color: #ffdee5;
    outline-color: white;
} */

.flash-msg {
    color: #ff5794;
    font-size: 30px;
}

/* input {
    background-color: #ffdee5; 
    border: none;

  } */
  
  .sidenav input {
    padding: 2px 8px 2px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: #ffdee5;
    outline : none;
    display: block;
  }

/* input:focus, select:focus,
textarea:focus,
input:active,
select:active {
    background-color:#ffdee5;
    outline-color: white;
    box-shadow: 0 0 0 rgb(255, 255, 255);
    border-color: transparent;
    border-bottom: 2px solid #ff5794;;

} */


.sidenavR select option:disabled {
    background-color:#ffdee5;
}

option:disabled {
    background-color:#ffdee5;
}


  .sidenav a:hover {
    color: white;
  }

  /* select:hover {
      color: white;
  } */

  a:hover {
    color: white;
  }

/* li {
    background-color: #333;
} */
  
