{% extends 'base.html' %}
{% block title %}Choose an appointment{% endblock %} 

{% block body %}
<div class="dark">
  <a href='/add_appointment/{{customer_id}}'>CLICK HERE TO ADD A NEW APPOINTMENT FOR {{name}}</a>
    <p></p>
  <p></p>
  <h2>or</h2>
  <h1>Select an appointment to alter:</h1>
    <p></p>
      {% for appt in appts %}
        <p></p>
        <a href="/appts/{{appt.appoint_id}}">{{appt.gen_service}} {{appt.date}}</a>
       
      {% endfor %}
  <p></p>
    
    <a href='/customer_options'>CLICK HERE TO CHANGE CUSTOMERS</a>
 
  <p></p>
  <footer>
    <img class="logo-sm" src="/static/friendly.png">
    <p></p>
    <a href="/login">Logout</a>
    {% block footer %}{% endblock %}
  </footer>  
</div>
{% endblock %}