{% extends 'base.html' %}
{% block head %}
<style>
  body {
    background: #333 url("/static/haircut-g700ec866e_1920.jpg");
  }
</style>
{% endblock %}
{% block title %}Customer Options{% endblock %}

{% block body %}
         
<div class="sidenav">
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
        <form class="form" method="POST" action="/customer_options">
          
            <h2>Would you like to:</h2>
              <p></p>
                <a href="/new_customer">Add a new customer</a>
                  <p></p>
                <h2>or</h2>
              
                <p>Find a customer:</p>
              <div class="form-group">
                  <label for="first-name-field" class="sr-only"></label>
                  <input type="first_name"
                        name="first_name"
                        class="form-control input-lg"
                        placeholder="customer first name"
                        required
                        autofocus>
                </div>
                <!-- <P></P> -->
                <div class="form-group">
                  <label for="last-name-field" class="sr-only"></label>
                  <input type="last_name"
                        name="last_name"
                        class="form-control input-lg"
                        placeholder="customer last name"
                        required
                        autofocus>
                </div>
              <p></p>
            <button class="btn btn-block btn-secondary fw-bold bg-pink border-white" type="submit">Submit</button>
        </form>
        <footer>
          <img class="logo-sm" src="/static/friendly.png">
          <p></p>
          <a href="/login">Logout</a>
          {% block footer %}{% endblock %}
        </footer>
</div>
{% endblock %}