{% extends 'base.html' %}
{% block title %}Customer Options{% endblock %}

{% block body %}
<h2>What would you like to do?</h2>
    <ul>
      <li><a href="/new_customer">Add a new customer</a></li>

      <li>Find a customer to view, make or change appointment:</li>
        <form class="form-find-cusotmer" method="POST" action="/customer_options">
            <div class="form-group">
                <label for="first-name-field" class="sr-only">Customer First Name</label>
                <input type="first_name"
                       name="first_name"
                       class="form-control input-lg"
                       placeholder="first name"
                       required
                       autofocus>
              </div>

              <div class="form-group">
                <label for="last-name-field" class="sr-only">Customer Last Name</label>
                <input type="last_name"
                       name="last_name"
                       class="form-control input-lg"
                       placeholder="last name"
                       required
                       autofocus>
              </div>
              <!-- <div class="form-group">
                <label for="phone" class="sr-only">Phone</label>
                <select 
                    name="last_name"
                    class="form-control input-lg"
                    id="phone">
                    <option value='text_num'>cell</option>
                    <option value='landline'>land</option>
                </select>
                    
              </div> -->
                  
    
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </ul>

{% endblock %}