{% extends 'base.html' %}

{% block title %}Find Customer{% endblock %} 

{% block body %}
<div class="dark">
  <p></p>
  <h2>Select a customer to VIEW, ADD, CANCEL appointments</h2>
  <p></p>
      {% for customer in customers %}
       
        <p></p>
        <a href="/customers/{{customer.customer_id}}">{{customer}}</a>
    
      {% endfor %}
       
        <p></p>
        <a href="/new_customer">Add a new customer</a>
        <p></p>
        <footer>
          <img class="logo-sm" src="/static/friendly.png">
          <p></p>
          <a href="/login">Logout</a>
          {% block footer %}{% endblock %}
        </footer>  
</div>

{% endblock %}