{% extends 'base.html' %}
{% block title %}Reminders Home{% endblock %}

{% block body %}
<h1>Welcome!</h1>
<body>
<form class="form-signin" method="POST" action="/login">

    <!-- <h2 class="form-signin-heading">Password</h2> -->
  
    <div class="form-group">
      <label for="entry_password-field" class="sr-only">Password</label>
      <input type="entry_password"
             name="entry_password"
             class="form-control input-lg"
             placeholder="password"
             required
             autofocus>
    </div>
  
    <!-- <div class="form-group">
      <label for="password-field" class="sr-only">Password</label>
      <input type="password"
             name="password"
             class="form-control input-lg"
             placeholder="Password"
             required>
    </div> -->
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
    </button>
  
  </form>
<!-- <a href="/signup"> or Create An Account</a> -->
</body>

{% endblock %}