{% extends 'base.html' %}
{% block head %}
<style>
  body {
    background: #333 url("/static/spa-gce52a95de_1920.jpg");
  }
</style>
{% endblock %}
{% block title %}New Customer{% endblock %}

{% block body %}
<div class="sidenav">
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
    <h2>Create a New Customer</h2>
    <body>
    <form class="form" method="POST" action="/new_customer">
            <div class="form-group">
                <label for="first_name-field" class="sr-only"></label>
                <input type="first_name"
                      name="first_name"
                      class="form-control input-lg"
                      placeholder="first name"
                      required
                      >
              </div>
            <!-- <p></p> -->
        <div class="form-group">
          <label for="last_name-field" class="sr-only"></label>
          <input type="last_name"
                name="last_name"
                class="form-control input-lg"
                placeholder="last name"
                required
                >
        </div>
        <!-- <p></p> -->
        <div class="form-group">
          <label for="text_num-field" class="sr-only"></label>
          <input type="text_num"
                name="text_num"
                class="form-control input-lg"
                placeholder="text number digits only"
                >
        </div>
        <!-- <p></p> -->
        <div class="form-group">
            <label for="landline-field" class="sr-only"></label>
            <input type="landline"
                  name="landline"
                  class="form-control input-lg"
                  placeholder="landline number">
          </div>
          <!-- <p></p> -->
        <div class="form-group">
          <label for="email-field" class="sr-only"></label>
          <input type="email"
                name="email"
                class="form-control input-lg"
                placeholder="email">
        </div>
        <p></p>
        <button class="btn btn-block btn-secondary fw-bold bg-pink border-white" type="submit">Create Customer
        </button>
    </form>
    </body>
    <footer>
      <img class="logo-sm" src="/static/friendly.png">
      <p></p>
      <a href="/login">Logout</a>
      {% block footer %}{% endblock %}
    </footer>  
</div>
{% endblock %}
</html>
  

