{% extends 'base.html' %}
{% block title %}Stylist Account{% endblock %}

{% block body %}
<h1>Create an Account</h1>
<form class="form-signup" method="POST" action="/">

    <h2 class="form-signin-heading">Please Enter the Following Info</h2>

        <div class="form-group">
            <label for="business-field" class="sr-only">Business Name</label>
            <input type="business"
                   name="business"
                   class="form-control input-lg"
                   placeholder="business name"
                   required
                   autofocus>
          </div>
  
    <div class="form-group">
      <label for="stylist-field" class="sr-only">Stylist Name</label>
      <input type="stylist"
             name="stylist"
             class="form-control input-lg"
             placeholder="operator"
             required
             autofocus>
    </div>

    <div class="form-group">
      <label for="contact-field" class="sr-only">Contact Number</label>
      <input type="contact"
             name="contact"
             class="form-control input-lg"
             placeholder="contact number"
             required
             autofocus>
    </div>
  
    <div class="form-group">
      <label for="password-field" class="sr-only">Password</label>
      <input type="password"
             name="password"
             class="form-control input-lg"
             placeholder="Password"
             required>
    </div>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account
    </button>
  
  </form>
       
  </body>
  </html>
  

{% endblock %}