{% extends 'base.html' %}
{% block title %}Stylist Account{% endblock %}

{% block body %}
<div class="sidenav">
  
  <img class="logo-md" src="/static/friendly.png">
  
  <form class="form" method="POST" action="/">
    <h2>Create a </h2>
      <i>Friendly Reminder</i> 
      <h2>Account</h2>
        <p></p>
          <div class="form-group">
              <label for="business-field" class="sr-only"></label>
              <input type="business"
                    name="business"
                    class="form-control input-lg"
                    placeholder="business name"
                    required
                    autofocus>
            </div>
          <p></p>
      <div class="form-group">
        <label for="stylist-field" class="sr-only"></label>
        <input type="stylist"
              name="stylist"
              class="form-control input-lg"
              placeholder="stylist name"
              required
              autofocus>
      </div>
        <p></p>
      <div class="form-group">
        <label for="contact-field" class="sr-only"></label>
        <input type="contact"
              name="contact"
              class="form-control input-lg"
              placeholder="contact number digits only"
              required
              autofocus>
      </div>
        <p></p>
    
      <div class="form-group">
        <label for="password-field" class="sr-only"></label>
        <input type="password"
              name="password"
              class="form-control"
              placeholder="password"
              required>
      </div>
      <p></p>
      <button class="btn btn-block btn-secondary fw-bold bg-pink border-white" type="submit">Create Account
      </button>
    
    </form>
  </div>    
  </body>
  </html>
  

{% endblock %}